<div class="card mb-4" *ngIf="repos.length">
    <div class="card-header">
        <h5 class="mb-0">Repositórios</h5>
    </div>
    <div class="card-body">

        <button type="button"
                class="btn mr-2 {{ type == 'public' ? 'btn-primary' : 'btn-secondary' }}"
                (click)="handlerToggleType('public')"
        >
            Públicos <i class="fa fa-globe ml-1"></i>
        </button>

        <button type="button"
                class="btn  {{ type == 'starred' ? 'btn-primary' : 'btn-secondary' }}"
                (click)="handlerToggleType('starred')"
        >
            Marcados <i class="fa fa-star ml-1"></i>
        </button>

        <div class="card card-body mt-4" *ngFor="let repository of repos">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a href="{{ repository.html_url }}" target="_blank">{{ repository.full_name }}</a>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="list-badges-repository list-unstyled">
                        <li>
                            <span class="badge badge-info">Stars: {{ repository.stargazers_count }}</span>
                        </li>
                        <li>
                            <span class="badge badge-secondary">Watchers: {{ repository.watchers_count }}</span>
                        </li>
                        <li>
                            <span class="badge badge-success">Forks: {{ repository.forks }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <p class="mb-0 pt-2 text-muted">{{ repository.description || '(não informado)' }}</p>
        </div>
    </div>
</div>