<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand">
            <a routerLink="/" class="text-white text-decoration-none">{{ title }}</a>
        </div>
        <div class="navbar-text">
            <button type="button"
                    class="btn bg-white text-dark"
                    (click)="handlerLogin()"
            >
                Entrar
            </button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
<ngx-loading-bar color="#007bff" height="5px" diameter="24px"></ngx-loading-bar>