.list-badges-user {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;

  li {
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .badge {
    padding: 6px 12px 8px;
  }
}

@media (max-width: 768px) {
  .list-badges-user {
    justify-content: space-between;
    margin-bottom: 15px;

    li {
      margin: 0 0 5px;
      width: 48%;
    }

    .badge {
      width: 100%;
    }
  }
}
